.section {
    background-color: #ed521a;
    padding: 15px;
    text-align: center;
    margin: 10px 10px 0px 10px;
    border-radius: 12px;
    color: #f0f0f0;
}
.textsection {
    background-color: #cdcdcd;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    margin: 0px 10px 20px 10px;
    border-radius: 10px;
    color: #f0f0f0;
}
.shapka {
  background-color: #1d1d24;
  padding: 15px;
  text-align: left;
  color: #d9d9d9;
}
.zagol {
  background-color: #424242;
  padding: 15px;
  text-align: left;
  color: #d9d9d9;
  border-radius: 8px;
}
p {
  color: #020212;
  white-space: pre-line;
  font-size: 130%;
  text-align: left;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
}
span {
   padding-left:20px;
}
hh {
  font-size: 210%;
}
hh1 {
  font-size: 190%;
  text-align: left;
  padding: 0%;
  border-radius: 10px;
  margin: 0px;
}
